.App {
  min-height: 100vh;
  text-align: center;
}

.App-centerer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-half {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}

.lower-half {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
